<div class="reset-password-container">
  <mat-card>
    <mat-card-title>Restaurar contraseña de usuario</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Selecciona usuario</mat-label>
        <mat-select formControlName="username" required>
          <mat-option *ngFor="let usuario of usuarios" [value]="usuario.USERNAME">
            {{ usuario.USERNAME }} <span *ngIf="usuario.ROL" style="color:#1a7a52;font-size:0.9em;">({{ usuario.ROL }})</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput formControlName="newPassword" type="password" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Repite la contraseña</mat-label>
        <input matInput formControlName="confirmPassword" type="password" required />
        <mat-error *ngIf="form.hasError('passwordMismatch')">
          Las contraseñas no coinciden
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" [disabled]="loading">
        Cambiar contraseña
      </button>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <mat-error *ngIf="error">{{ error }}</mat-error>
      <div class="success-msg" *ngIf="success">¡Contraseña restaurada correctamente!</div>
    </form>
  </mat-card>


</div>
