<mat-toolbar color="primary" class="main-toolbar" [style.background]="'#309346'">
  <button mat-icon-button (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/logo_grea.png" class="logo-img" alt="Logo" />
  <span class="logo-text">Gestión PROM V0.1</span>
  <span class="spacer"></span>
  <mat-icon>account_circle</mat-icon>
  <span *ngIf="usuario" class="usuario">{{ usuario }}</span>
  <button mat-icon-button (click)="logout()" title="Cerrar sesión">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav [(opened)]="opened" mode="over" class="main-sidenav" [fixedInViewport]="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/recorridos" routerLinkActive="active" (click)="opened = false"><mat-icon>list_alt</mat-icon> Recorridos</a>
      <a mat-list-item routerLink="/demo-mapa" routerLinkActive="active" (click)="opened = false"><mat-icon>map</mat-icon> Demo Mapa</a>
      <a mat-list-item routerLink="/usuarios/nuevo" routerLinkActive="active" (click)="opened = false"><mat-icon>home</mat-icon> Nuevo usuario</a>
      <a mat-list-item routerLink="/usuarios/reset-password" routerLinkActive="active" (click)="opened = false"><mat-icon>home</mat-icon> Cambiar Contraseña</a>
      <!-- Más opciones -->
      <a mat-list-item routerLink="/login" (click)="logout()"><mat-icon>logout</mat-icon> Cerrar sesión</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

