.usuario-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;

  mat-card {
    width: 360px;
    padding: 2rem 1.5rem;
  }
  mat-card-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  button {
    margin-top: 1rem;
  }
  .success-msg {
    color: #197a52;
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
  }
}
